/*
Palette:
ROSE QUARTZ 1: #9A8899
ROSE QUARTZ 2: #A6A2AE
GUNMETAL:      #273542
DESERT SAND:   #E3C4A2
CHARCOAL:      #31394D
*/

/* * { */
/*     border: 2px dotted red; */
/* } */

body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/hateno.jpg");
    background-size: cover;
    height: 100vh;
}

#hero-title {
    color: #E3C4A2;
    text-shadow: 0px 0px 10px black;
    font-size: 3rem;
}

#hero-subtitle {
    color: #9A8899;
    background: rgb(39 53 66 / 95%);
    padding: 10px;
    max-width: 60vw;
    border-radius: 1rem;
    opacity: .9;
}

#activities {
    margin-top: 0;
    color: #31394D;
    background: #A6A2AE;
    padding: 25px;
}

#activities h3 {
    font-size: 2rem;
}

#activities-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#activities-list img {
    border-radius: 50%;
}

#guide {
    background: #E3C4A2;
    padding: 50px;
}

#card {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    background: #9A8899;
    padding: 20px;
}

#card-info p {
    font-style: italic;
}

@media screen and (min-width: 768px) {
    #activities-list, #card {
	flex-direction: row;
    }
}

img {
    width: 200px;
}
